<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css"/>
        <title>Tim & Lauren Hewitt</title>
        <script src="/static/htmz.js"></script>
    </head>

    <body>
        <div id="bg-container">
            <img src="/static/top-right-bg.svg"
                 style="
                    z-index: -1;
                    max-width: 62vw;
                    max-height: 38vh;
                    position: fixed;
                    top: 0;
                    right: 0;"/>
            <img src="/static/top-left-bg.svg"
                 style="
                    z-index: -1;
                    max-width: 13vw;
                    max-height: 51vh;
                    position: fixed;
                    top: 0;
                    left: 0;"/>
            <img src="/static/bottom-right-bg.svg"
                 style="
                    z-index: -1;
                    max-width: 14vw;
                    max-height: 49vh;
                    position: fixed;
                    bottom: 0;
                    right: 0;"/>
            <img src="/static/bottom-left-bg.svg"
                 style="
                    z-index: -1;
                    max-width: 61vw;
                    max-height: 40vh;
                    position: fixed;
                    bottom: 0;
                    left: 0;"/></div>

      <iframe name="htmz" hidden onload="window.htmz(this)"></iframe>

        <div style="position: relative; top: 0; z-index: -2">
            <h1 class="centered">
                Timothy Hewitt<br>
                <span style="font-family: 'PlayfairDisplay';">&amp;</span><br>
                Lauren Zeringue</h1>

            <p class="centered" style="z-index: -2">
                September 27th, 2025 A.D.</p></div>
        {{content.render()|safe}}
    </body>
</html>


