<div style="display: flex; flex-direction: column; align-items: center;">
<div style="max-width: 50vw; display: flex; flex-direction: column;">

<p>
  Tim bit off a bit more than he could chew trying to make this website from scratch, so he had to use a separate service for form submission.
  If you've been invited to attend, you should have recieved a card with a QR code on it as well as Tim's email address alongside your invitation.
  Please RSVP at that link, but if you have any problems or need help, please reach out to Tim for assistance.
</p>

</div></div>
