<div style="display: flex; flex-direction: column; align-items: center;">
<div style="max-width: 50vw; display: flex; flex-direction: column;">

<p>
Tim and I’s story doesn’t officially start until March of 2024, when Tim asked me on our first date.
At the time, both Tim and I were leaders in Spark (the young adult's group at The Northeast Church).
The group leader Jesse and his wife Katie essentially set us up: Katie asked me if I would say yes to going on dates after choosing not to date for a while, and Jesse told Tim to go for it and ask me on a date.
I instantly knew I wanted to get to know this man more deeply, and we both felt that our relationship could blossom into something more.
After only a few dates, we decided to become official in April of 2024. </p>

<p>
It wasn’t until Tim and I started to get to know each other more that we realized that there were friends of mine that had tried to get us to get together long before.
In 2022 at a Spark event at East Plano Fellowship church, one of my best friends (Thea) not so subtly asked Tim if he would be interested in going on a date with one of her friends (me, lol), but it wasn’t the time.
We still laugh about that to this day, and we are grateful our friends could see that we would fit well together and encouraged us to try.</p>

<p>
After a year both of us have come to learn so much about each other, ourselves, and how we work as a couple on our journey with God.
Through challenges: ups and downs, tears and laughter, grief and joy, we can’t believe we have been able to experience love and to find someone to live the rest our lives with.</p>
<p>
To our friends who have walked alongside us on our journey, thank you so much for being there and supporting us.
We are so excited to start our new phase of life and can't wait for y'all to join us on our big day!
</p>
<div style="max-width: 50vw; align-self: flex-end"><p>- Tim & Lauren</p>

</div></div>
